@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileS: 375px;
$mobileM: 320px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero {
  position: relative;

  &__video {
    position: relative;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    z-index: 20%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 100px 0px 100px;

    font-family: "Roboto Slab", serif;
    color: #fff;
    h1 {
      margin-bottom: 30px;
      font-size: 3.5rem;
      text-align: center;
      margin-top: 30px;
    }

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.14329481792717091) 25%,
      rgba(0, 0, 0, 1) 90%
    );
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto", serif;
}

.wrapper {
  background: black;
}

.hero {
  position: relative;
  margin-bottom: -4px;

  .bg-video {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
  }

  .content {
    position: absolute;
    top: 0px;
    z-index: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 0px 100px 0px 100px;
    color: #fff;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.14329481792717091) 25%,
      rgba(0, 0, 0, 1) 90%
    );

    h1 {
      margin-bottom: 40px;
      font-size: 3rem;
    }
  }
}

// News block
.news {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  padding: 20px;

  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  &__elem {
    position: relative;
    z-index: 2;

    &:hover {
      .news__article {
        opacity: 1;
      }
    }
  }

  &__img,
  &__source {
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
  }

  &__article {
    transition: all 0.4s;
    opacity: 0;
    border-radius: 16px;
    position: absolute;
    top: 0;
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.14329481792717091) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    &-header {
      font-size: 2rem;
    }

    &-txt {
      margin-top: 0;
      font-size: 1.2rem;
    }
  }
}

.video {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__iframe {
    border: 4px solid #000;
    -moz-border-radius: 15px;
    border-radius: 20px;
    height: 615px;
    width: 80%;
  }
}

@media screen and (max-width: $laptop) {
  .news {
    &__article {
      padding: 15px;

      &-header {
        font-size: 1.8rem;
      }

      &-txt {
        font-size: 1rem;
        overflow-y: scroll;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__elem {
      width: 70%;
    }

    &__article {
      opacity: 1;
      padding: 15px;
      &-header {
        font-size: 1.8rem;
      }

      &-txt {
        font-size: 1rem;
        overflow-y: scroll;
      }
    }
  }
}

@media screen and (max-width: $mobileL) {
  html {
    font-size: 14px;
  }

  .hero {
    &__content {
      padding: 0px 50px 0px 50px;

      // &__heading {
      //   font-size: 1.5rem;
      //   margin-bottom: 5px;
      // }
    }
  }

  .footer {
    flex-direction: column;
    height: auto;
  }

  .video {
    height: 400px;

    &__iframe {
      height: 200px;
      width: 80%;
    }
  }

  .news {
    &__elem {
      width: auto;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  h2 {
    font-size: 1rem;
  }
}

footer {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.14329481792717091) 25%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(https://walldeco.ua/img/gallery/63/thumbs/thumb_l_10093.jpg);

  background-size: cover;

  height: 420px;

  padding: 0px 100px 0px 100px;

  font-family: "Roboto", serif;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__nav {
  display: flex;
  flex-direction: column;

  &__heading {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
  }

  &__link {
    color: #fff;
    font-size: 1.5rem;

    margin-bottom: 30px;
    margin-left: 10px;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

.about_us {
  &__divider {
    display: flex;
    flex-direction: column;

    &__heading {
      font-size: 1.7rem;
      font-family: "Roboto Slab", sans-serif;
      margin-bottom: 15px;
    }

    &__link {
      color: #fff;
      font-size: 1rem;

      margin-bottom: 30px;
      margin-left: 10px;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }
}
